<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/clientWf/src/callback/workflow/ss/carbon/wso2/org/client.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="callback.workflow.ss.carbon.wso2.org.client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="clientWf"/>
</launchConfiguration>
